h3{
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 2rem;
  line-height: 46px;
  text-align: center;
  color: #fff;
  background: #462703e6;
  margin-bottom: 4rem;
}

.logo-body{
  display: block;
  width: 25%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

form {
    text-align: center;
  }
  
.login_form_btm {
  width: 50%;
  padding: 10px 0;
  background-color: #F7F7F7;
  margin: 2px 0;
  justify-content: center;
  align-items: center;
  margin: 0 25% 0 25%;
}
  
input {
  width: 200px;
  padding: 5px;

}


.mail_btn{
  width: 50%;
  margin:0 25% 0 25%;
  background: #F7F7F7;
  justify-content: center;
  align-items: center;



}
    
.mail_btn:active {
  transform: translateY(5px);
}





.login_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 10px;
  margin-top: 10px;
}

.signin-button{
  width: 180px;
  height: 37px;
  transform: translateY(5px);
}

.signin-button2{
  width: 180px;
  height: auto;
  line-height: 30px;
  background: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight:520;
  vertical-align: middle;
  padding-bottom: 1000;
  transform: translateY(5px);
  
  
}

.native_svg-icon_iconGoogle{
  vertical-align:text-top;
  padding: 0%;
  ;
}

.store-btn{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.apps_guide{
  width: 100%;
}



