h3{
    font-family: 'Noto Sans JP';
    font-weight: 700;
    font-size: 2rem;
    line-height: 46px;
    text-align: center;
    color: #fff;
    background: #462703e6;
    margin-bottom: 4rem;
}


form {
    text-align: center;
  }
  
  .login_form_btm {
    padding: 10px 0;
    background-color: #F7F7F7;
    margin: 10px 0;
  }
  
  input {
    width: 200px;
    padding: 3px;
    margin: 5px 0;
  }

.store-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0;
  text-align: center;
}

.logo-body{
  display: block;
  width: 25%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

